.twitter-tweet.esportudo-dark {
  background-color: #ace !important;
  color: #f7f7f7 !important;

}

.twitter-tweet.esportudo-light {
  background-color: #f7f7f7 !important;
  color: #121212 !important;
}