:root {
  --main-color: #181818;
  --link-color: #666666;
  --text1: #999999;
  --highlight-text: #333333;
  --input-text: #555555;
  --white-color: #FFFFFF;
  --points-list: #CCCCCC;
  --line-input: #D9D9D9;
}


body {
  background-color: var(--main-color)
}


a {
  color: blue; /* Cor padrão dos links */
  text-decoration: none; /* Remove sublinhado dos links */
}


h1 {
  text-align: center;
  color: var(--white-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  border: none;
  color: white;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-left: 50px;
  color: var(--white-color);
}

ul {
  margin-left: 30%;
  margin-left: 30%;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--points-list);
  width: 50%;
}
