
table{
  width: 30%;
  table-layout: auto;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: blue;
}

td {
  color: green;
  font-size: large;

}

.notaBaixa {
  color: red;
  font-size: large;
}