
h1 {
  margin-left: 35%;
}


ul {
  margin-left: 35%;
  max-width: 450px;
  display:grid;
  flex-flow: row wrap;
  justify-content: space-between;
} 

li {

  text-align: center;
  margin-top: 7px;
  padding-bottom: 3px;

}

p {
  
  margin-left: 37%;
}

hr {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

.color-a {
  color: black;
}