h1.sistemas{
  text-align: center;
}
h1.graduacao{
  font-family: Arial;
  font-size: 3;
  color: blue;
}
h1.pos {
  font-weight: bold;
  font-family: Arial;
  font-size: 3;
  color: green;

}
h1.mestrado {
  font-style: italic;
  font-family: Arial;
  font-size: 3;
  color: orange;
}
h1.doutorado {
  text-decoration: underline;
  font-family: Arial;
  font-size: 3;
  color: red;
}
h1.firt {
  margin-left: 100px;
  font-size: 5;
  font-family: Arial;
  color: magenta;  
}
h1.secund {
  margin-left: 180px;
  font-family: Arial;
  font-size: 5;
  color: magenta;  
}
h1.third {
  margin-left: 100px;
  font-size: 5;
  font-family: Arial;
  color: magenta;  
}
h1.four {
  margin-left: 180px;
  font-size: 5;
  font-family: Arial;
  color: magenta;  
}
